<div class="card meetings cf">

  <div class="textintro">
    <h1>City Request Form</h1>
    <p>Upload Image / Type a description</p>
  </div><!-- textintro -->

  <form class="formgroup addmeeting cf"
    name="myform"
    ng-submit="addMeeting()"
    novalidate>

    <div class="inputwrapper">
      <input type="text" name="meetingname"
      placeholder="Description"
      ng-model="meetingname" ng-required="true">
    </div>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">+</button>
    
  </form>


</div><!-- meetings cf -->
